table {
    width: 100%;
    border-collapse: separate;
}

td {
    padding: 15px;
}

td:first-child {
    background: #c2e0e3;
    width: 20%;
    padding: 5px 10px;
    text-align: center;
}

td:nth-child(2) {
    background: #f2f2f2;
    padding-left: 10px;
}

.icon a {
    display: block;
    font-size: 1.5em;
}

@media (max-width: 991px) {
    td:first-child {
        width: 30%;
    }
}

@media (max-width: 576px) {
    td:first-child {
        width: 35%;
    }
}