@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
:root {
    --primary: #38b4c4;
    --primary-darker: #3b8c97;
    --gray: #dbdbdb;
    --dark: #383838;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    color: var(--dark);
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--dark);
}

ul {
    list-style: none;
}

.topHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.85rem;
    margin: 10px;
}

.topHeader ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.topMenu li {
    margin: 0 10px;
    position: relative;
}

ul.topMenu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #000;
    position: absolute;
    left: -11px;
    top: 4px;
}

ul.topMenu li a:hover {
    color: var(--primary-darker);
}

.fontChange {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fontChange ul li {
    margin-left: 5px;
}

.fontChange ul li a {
    width: 28px;
    height: 28px;
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
    transform: scale(0.9);
    transition: all 0.2s ease-in;
}

.fontChange ul li a.active {
    background-color: var(--primary);
    color: #fff;
}

.fontChange ul li a:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(1);
}

.mainNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: 0.3s all ease-in-out;
}

.logo {
    width: 300px;
}

.logo img {
    object-fit: contain;
    width: 100%;
}

.iconControl {
    display: flex;
}

.iconControl .title {
    position: relative;
    cursor: pointer;
}

.iconControl .title.member {
    margin-right: 10px;
}

.iconControl .fab {
    background: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.iconControl .title .fac {
    width: 100px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: 0;
    right: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 8px;
    z-index: 1030;
    display: none;
}

.iconControl .title.active .fac {
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: 45px;
    opacity: 1;
    display: flex;
}

.iconControl .title .fac a {
    margin-bottom: 10px;
}

.iconControl .title .fac a:last-child {
    margin-bottom: 0;
}

.iconControl .title .fac a:hover {
    color: var(--primary-darker);
}

.iconControl .title.active .fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.mobileNav {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
}

.mobileNav .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin: 0 7px;
}

.mobileNav .title .fab {
    background: var(--primary);
    color: #fff;
    font-size: 0.95rem;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.mobileNav .title .fab i {
    margin-right: 5px;
}

.mobileNav .title .fac {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in, right 0.2s ease-in, width 0.1s ease-in;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 15px 8px;
}

.mobileNav .title.active .fac {
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    right: 47px;
    opacity: 1;
    display: flex;
}

.mobileNav .title .fac a {
    margin-bottom: 10px;
}

.mobileNav .title .fac a:last-child {
    margin-bottom: 0;
}

.mobileNav .title .fac a:hover {
    color: var(--primary-darker);
}

.mobileNav .title.active .fab {
    animation: fac-animation 0.4s ease-out forwards;
}

@keyframes fab-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes fab-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes fac-animation {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(0.95, 1.05);
    }
    66% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navList {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1030;
}

.navList.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.navList ul.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navList ul.menu li {
    position: relative;
    width: 100%;
    max-width: 200px;
    color: #fff;
    background: var(--primary);
    display: block;
    float: left;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: center;
    cursor: pointer;
}

.navList ul.menu li:hover {
    background-color: var(--primary-darker);
}

.navList ul.menu>li:hover:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--gray);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.navList ul.menu li a {
    color: #fff;
}

.navList ul.menu li:hover>.submenuarea {
    display: flex;
}

.navList ul.menu li ul.dropdown {
    display: none;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    z-index: 1030;
}

.navList ul.menu li:hover>ul.dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1010;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 2px;
    transition: all 0.4s ease-in;
    z-index: 1;
}

.burger .line1 {
    transform: rotate(0);
    transform-origin: top right;
}

.burger .line3 {
    transform: rotate(0);
    transform-origin: bottom right;
}

.mainNavbar.open .burger .line1 {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.mainNavbar.open .burger .line2 {
    opacity: 0;
}

.mainNavbar.open .burger .line3 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.navigation-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.navigation {
    position: fixed;
    left: 0;
    top: 38px;
    height: 100%;
    background: #fff;
    z-index: 1001;
    min-width: 250px;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.navigation.open {
    transform: translateX(0);
}

.closeArea {
    height: 58px;
}

.menuItem {
    position: relative;
}

.menuItem a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    transition: color 0.35s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem.has-collapsible i {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.menuItem.active.has-collapsible i {
    transform: rotate(90deg);
}

.menuItem.active.has-collapsible .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    background-color: var(--gray);
}

.menuItem.has-collapsible .dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.menuItem.has-collapsible .dropdown li:hover {
    background-color: var(--primary-darker)
}

.navigation a {
    padding: 0.5rem 1rem;
}

.leftMenuContent ul.leftMenuSub {
    margin: 50px 0;
}

.leftMenuContent ul.leftMenuSub li {
    margin: 10px 0;
    font-size: 0.8rem;
}

.leftMenuContent ul.leftMenuSub li a:hover {
    color: var(--primary-darker);
}

@media screen and (max-width: 768px) {
    .topHeader,
    .navList {
        display: none;
    }
    .mainNavbar {
        background-color: var(--primary);
        padding: 6px 10px;
        position: fixed;
        width: 100%;
        z-index: 1030;
    }
    .iconControl .title.member {
        display: none;
    }
    .mobileNav {
        display: flex;
    }
    .burger {
        display: flex;
    }
    .logo {
        width: 220px;
    }
    .search .fab {
        background: #fff;
        color: var(--primary);
    }
    .left {
        display: none;
    }
}

.container {
    width: 100%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 100px;
    }
}

.left {
    flex: none;
    flex-basis: 220px;
    max-width: 220px;
    margin-right: 40px;
}

.leftCard {
    position: relative;
    margin: 0px 0 25px 0;
    padding: 0;
}

.leftCard .title {
    font-size: 1.1em;
    background: linear-gradient(90deg, #38b4c4, #3b8c97);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bolder;
}

.leftCard .title i {
    margin-right: 8px;
}

.leftCard ul {
    margin: 0;
    padding: 15px 20px;
    border-radius: 5px;
}

.leftCard ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.leftCard ul li a {
    border-bottom: 1px solid var(--gray);
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    transition: .5s;
}

.leftCard ul li a:hover,
.leftCard ul li a:focus {
    background-color: var(--gray);
}

.card {
    border: 1px solid var(--gray);
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.card p {
    text-align: justify;
}

.cardTitle {
    font-size: 1.5rem;
    width: fit-content;
    color: var(--primary-darker);
    margin: 8px 0;
    border-bottom: 4px solid var(--primary-darker);
}

.left .otherPlatform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-group {
    margin: 10px 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--primary-darker);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-darker);
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--primary-darker);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btnWrap {
    text-align: right;
}

.btn {
    border: 1px solid var(--primary-darker);
    background-color: #fff;
    color: var(--primary-darker);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-darker);
    color: #fff;
}

footer {
    background-color: var(--primary);
    color: #fff;
    font-size: 0.8rem;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerIconWrap {
    display: flex;
}

.footerIcon,
.footerLink {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.footerIcon img {
    width: 23px;
}

.footerLink img {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    footer {
        align-items: flex-start;
    }
    .footerIconWrap {
        flex-direction: column;
    }
}