@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
:root {
    --primary: #38b4c4;
    --primary-darker: #2c808d;
    --primary-lighter: #c2e0e3;
    --secondary: #ec7a3b;
    --gray: #dbdbdb;
    --light-gray: #f2f2f2;
    --dark: #383838;
    --orange-gradient: linear-gradient(120deg, #d73e29, #EF874E);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    color: var(--dark);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.05rem;
}

a {
    color: var(--dark);
}

a:focus,
a:focus-within {
    outline: 2px solid var(--secondary) !important;
    outline-offset: -2px;
    border-radius: 4px;
}

.topHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.85em;
    margin: 5px auto 0;
}

.topHeader ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.topMenu li {
    margin: 0 10px;
    position: relative;
}

ul.topMenu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: var(--dark);
    position: absolute;
    left: -11px;
    top: 5px;
}

ul.topMenu li:first-child:before {
    width: 0;
}

ul.topMenu li a:hover {
    color: var(--primary-darker);
}

.rightArea {
    display: flex;
}

.fontChange {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fontChange ul {
    display: flex;
}

.fontChange ul li {
    margin-left: 5px;
}

.fontChange ul li a {
    width: 28px;
    height: 28px;
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
    transform: scale(0.9);
    transition: all 0.2s ease-in;
}

.fontChange ul li a.active {
    background-color: var(--primary);
    color: #fff;
}

.fontChange ul li a:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(1);
}

.mainNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all ease-in-out;
    margin: 0 auto;
}

.logo {
    width: 350px;
}

.logo a {
    display: inline-block;
}

.logo img {
    object-fit: contain;
    width: 100%;
}

.searchWrap {
    position: relative;
}

.search {
    position: relative;
    cursor: pointer;
}

.search .fab {
    background: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.search~.fac {
    width: 100px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: 0;
    right: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
    font-size: 0.9em;
    font-weight: 400;
    padding: 8px;
    z-index: 1030;
    display: none;
}

.search.active~.fac {
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: 45px;
    opacity: 1;
    display: flex;
}

.search~.fac a {
    margin-bottom: 10px;
}

.search~.fac a:last-child {
    margin-bottom: 0;
}

.search~.fac a:hover {
    color: var(--primary-darker);
}

.search.active .fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.mobileNav {
    position: fixed;
    top: 65px;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
}

.mobileNav .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin: 0 7px;
    height: fit-content;
}

.mobileNav .title .fab {
    background: var(--primary);
    color: #fff;
    font-size: 0.95em;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.mobileNav .title .fab i {
    margin-right: 5px;
}

.mobileNav .title .fac {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in, right 0.2s ease-in, width 0.1s ease-in;
    font-size: 0.9em;
    font-weight: 400;
    padding: 15px 8px;
}

.mobileNav .title.active .fac {
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    right: 47px;
    opacity: 1;
    display: flex;
}

.mobileNav .title .fac a {
    margin-bottom: 10px;
}

.mobileNav .title .fac a:last-child {
    margin-bottom: 0;
}

.mobileNav .title .fac a:hover {
    color: var(--primary-darker);
}

.mobileNav .title.active .fab {
    animation: fac-animation 0.4s ease-out forwards;
}

@keyframes fab-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes fab-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes fac-animation {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(0.95, 1.05);
    }
    66% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navList {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1030;
}

.navList.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.navList ul.menu {
    display: flex;
    width: 100%;
}

.navList ul.menu>li {
    position: relative;
    flex: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList ul.menu>li>a {
    padding: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.navList ul.menu li ul.dropdown {
    background: var(--bg-color);
    height: 0;
    border-top: 0;
    min-width: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    visibility: hidden;
    height: 1px;
    overflow: hidden;
    z-index: 10;
}

.navList ul.menu li ul.dropdown li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    white-space: nowrap;
    background-color: var(--primary-lighter);
}

.navList ul.menu li:hover .dropdown {
    visibility: visible;
    height: auto;
}

.navList ul.menu li:focus-within .dropdown {
    visibility: visible;
    height: auto;
}

.navList ul.menu li a:hover,
.navList ul.menu li a:focus {
    background-color: var(--primary-darker);
    color: #fff;
}

.navList ul.menu li ul.dropdown li:hover a,
.navList ul.menu li ul.dropdown li:focus a,
.navList ul.menu li ul.dropdown li:focus-within a {
    background-color: var(--primary-darker);
    color: #fff;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1010;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 2px;
    transition: all 0.4s ease-in;
    z-index: 1;
}

.burger .line1 {
    transform: rotate(0);
    transform-origin: top right;
}

.burger .line3 {
    transform: rotate(0);
    transform-origin: bottom right;
}

.mainNavbar.open .burger .line1 {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.mainNavbar.open .burger .line2 {
    opacity: 0;
}

.mainNavbar.open .burger .line3 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.navigation-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.navigation {
    position: fixed;
    left: 0;
    top: 5px;
    height: 100%;
    background: #fff;
    z-index: 1001;
    min-width: 250px;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.navigation.open {
    transform: translateX(0);
}

.closeArea {
    height: 58px;
}

.menuItem {
    position: relative;
}

.menuItem a {
    font-family: inherit;
    font-weight: 600;
    line-height: inherit;
    transition: color 0.35s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem.has-collapsible i {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.menuItem.active.has-collapsible i {
    transform: rotate(90deg);
}

.menuItem.active.has-collapsible .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    background-color: var(--light-gray);
}

.menuItem.has-collapsible .dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.menuItem.has-collapsible .dropdown li:hover {
    background-color: var(--primary-darker)
}

.navigation a {
    padding: 0.5rem 1rem;
}

.leftMenuContent ul.leftMenuSub {
    margin: 50px 0;
}

.leftMenuContent ul.leftMenuSub li {
    margin: 10px 0;
    font-size: 0.8em;
}

.leftMenuContent ul.leftMenuSub li a:hover {
    color: var(--primary-darker);
}

@media screen and (min-width: 768px) {
    aside {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .topHeader,
    .navList,
    .fontChange {
        display: none;
    }
    .mainNavbar {
        background-color: var(--primary);
        padding: 6px 10px;
        position: fixed;
        width: 100%;
        z-index: 1030;
    }
    .iconControl .title.member {
        display: none;
    }
    .mobileNav {
        display: flex;
        z-index: 1000;
    }
    .burger {
        display: flex;
    }
    .logo {
        width: 230px;
        transform: translateY(3px);
    }
    .search .fab {
        background: #fff;
        color: var(--primary);
    }
    .left {
        display: none;
    }
}

.container {
    width: 100%;
    padding: 25px 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container,
    .topHeader,
    .mainNavbar,
    .navList ul.menu {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .topHeader,
    .mainNavbar,
    .navList ul.menu {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,
    .topHeader,
    .mainNavbar,
    .navList ul.menu {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 100px 20px 25px;
    }
}

.left {
    flex: none;
    flex-basis: 220px;
    max-width: 220px;
    margin-right: 40px;
}

@media (max-width: 991px) {
    .left {
        flex-basis: 190px;
    }
}

.leftCard {
    position: relative;
    margin: 0px 0 25px 0;
    padding: 0;
}

.leftCard .title {
    font-size: 1.1em;
    background: var(--orange-gradient);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
}

.leftCard .title i {
    margin-right: 8px;
}

.leftCard ul {
    margin: 0;
    padding: 15px 20px;
    border-radius: 5px;
}

.leftCard ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.leftCard ul li a {
    border-bottom: 1px solid var(--gray);
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.leftCard ul li a:hover,
.leftCard ul li a:focus {
    background-color: var(--gray);
}

.card {
    border: 1px solid var(--gray);
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.card p {
    text-align: justify;
}

.cardTitle {
    font-size: 1.2em;
    width: fit-content;
    color: var(--primary-darker);
    margin: 8px 0 15px;
    border-left: 4px solid var(--primary-darker);
    padding-left: 14px;
}

.left .otherPlatform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.right {
    width: 100%;
}

.currentTab {
    font-size: 0.9em;
    margin: 6px 0 10px;
    color: var(--primary-darker);
}

.currentTab a:hover {
    color: var(--primary-darker);
}

.currentTab span::after {
    content: '\f061';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    margin-left: 5px;
}

.currentTab span:last-child:after {
    content: '';
}

@media (max-width: 768px) {
    .currentTab {
        text-align: center;
    }
}

.form-group {
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-group label {
    width: 25%;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group label {
        width: 100%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    color: var(--dark);
    border: 1px solid var(--primary-darker);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 0.1rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-weight: 400;
    font-size: inherit;
    color: var(--primary-darker);
    border: 1px solid var(--primary-darker);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    border: 1px solid var(--primary-darker);
    background-color: #fff;
    color: var(--primary-darker);
    padding: 10px;
    cursor: pointer;
    font-size: inherit;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-darker);
    color: #fff;
}

.pagination {
    text-align: center;
}

.pagination .page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination .page li {
    margin: 2px;
    flex: 0 0 35px;
}

.pagination .page li a {
    border-radius: 10px;
    padding: 6px;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    color: var(--dark);
    background: var(--light-gray);
}

.pagination .page li.active a {
    color: #fff !important;
    background: var(--primary);
}

footer {
    background-color: var(--primary);
    font-size: 0.8em;
    padding: 20px 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footerIconWrap {
    display: flex;
    margin-top: 20px;
}

.footerIcon:first-child {
    margin-right: 10px;
}

.footerIcon,
.footerLink {
    display: flex;
    align-items: flex-start;
}

.footerIcon img {
    width: 23px;
}

.footerLink img {
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    footer {
        flex-direction: column;
        padding: 20px 50px;
    }
    .footerIconWrap {
        flex-direction: column;
    }
    .footerLink {
        margin-top: 10px;
        align-items: flex-end;
    }
}

@media screen and (max-width: 576px) {
    footer {
        padding: 15px 30px;
    }
}

.floatNav {
    position: fixed;
    top: 300px;
    right: 0;
    width: 43px;
    height: auto;
    padding: 1rem 0;
    background: var(--orange-gradient);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.floatNav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.floatNav-container::-webkit-scrollbar {
    display: none;
}

.floatNav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floatNav-items.scrollTop {
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
}

.floatNav-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    height: 35px;
    width: 100%;
}

.floatNav-name {
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: .3s;
    display: none;
}

.floatNav:hover,
.floatNav:focus-within {
    width: 130px;
}

.floatNav a:focus-within {
    outline: 2px solid white !important;
}

.floatNav:hover .floatNav-items,
.floatNav:focus-within .floatNav-items {
    align-items: flex-start;
}

.floatNav:hover .floatNav-name,
.floatNav:focus-within .floatNav-name {
    opacity: 1;
    display: flex;
}

.goCenter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9em;
    text-decoration: none;
    z-index: 999999999999;
    opacity: 0;
    transition: .5s;
    border-radius: 4px;
}

.goCenter:focus {
    outline: none;
    opacity: 1;
}