.card.result .attention {
    margin-top: 5px;
    font-weight: 500;
}

.card.result p {
    margin: 5px 0;
}

table.result td {
    padding: 10px;
}

table.result td:first-child {
    background: #c2e0e3;
    font-weight: 500;
}

table.result td:nth-child(2) {
    background: #f2f2f2;
}

table.resultList {
    width: 100%;
}

table.resultList thead tr {
    height: 45px;
    background-color: #c2e0e3;
}

table.resultList tbody tr {
    height: 50px;
    text-align: center;
}

table.resultList tbody tr:nth-of-type(2n) {
    background-color: #f2f2f2;
}

.fa-file-download {
    font-size: 1.2em;
    color: var(--secondary);
}

.pagination {
    text-align: center;
}

.pagination .page {
    display: flex;
    justify-content: center;
}

.pagination .page li {
    margin: 2px;
    flex: 0 0 35px;
}

.pagination .page li a {
    border-radius: 10px;
    padding: 6px;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    color: var(--dark);
    background: #f2f2f2;
}

.pagination .page li.active a {
    color: #fff !important;
    background: var(--primary);
}

@media (max-width: 768px) {
    table.resultList thead {
        display: none;
    }
    table.resultList tbody tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        line-height: 30px;
        position: relative;
        padding: 10px;
    }
    table.resultList td::before {
        margin-right: 10px;
        color: var(--darker);
        font-weight: 600;
    }
    table.resultList td:nth-of-type(1):before {
        content: '類型';
    }
    table.resultList td:nth-of-type(2):before {
        content: '代碼';
    }
    table.resultList td:nth-of-type(3):before {
        content: '名稱';
    }
    table.resultList td:nth-of-type(4):before {
        content: '發展單位';
    }
    table.resultList td:nth-of-type(5):before {
        content: '有效期限';
    }
    table.resultList td:nth-of-type(6):before {
        content: '檔案下載';
    }
}

@media (max-width: 576px) {
    table.result tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}